.background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1006px;
  height: 1422px;
  background-size: 100% 100%;
  opacity: 0.7;
  background: url("/image/e09-2.png") no-repeat;
}
.section1{
    width: 1006px;
    height: 71px;
    background-color: rgb(20, 138, 206);
    color:white;
    font-size: 14px;
}
.section1>.row>:nth-child(1){
    width: 45px;
    height: 31px;
    padding: 6px 0px 0px 10px;
    margin: 27px 1px 0px 102px;
    border-radius: 5px;
    background-color: rgb(10, 62, 108);
}
.section1>.row>:nth-child(2){
    padding: 8px 0px 0px 40px;
    margin: 27px 0px 0px 0px;
}
.section1>.row>:nth-child(3){
    padding: 10px 0px 0px 38px;
    margin: 25px 1px 0px 0px;
}
.section1>.row>:nth-child(4){

    padding: 10px 0px 0px 28px;
    margin: 25px 1px 0px 0px;
}